mixin information(informationMenuLinks, currentIndex)

  section.information&attributes(attributes)
    .container
      h2.visually-hidden Ссылки на разделы страницы
      ul.information__list
        each link, index in informationMenuLinks
          if(index === currentIndex)
            li.information__item.information__item--current(data-side-menu="current-item")
              .information__link.information__link--current
                span !{link.title}
          else
            li.information__item(data-side-menu="item")
              a.information__link.information__link--enabled(href=link.link)
                span !{link.title}
      .information__select
        each item in informationListSelect
          +custom-select.custom-select(item)(data-select, data-name=item.name, data-id=item.name)
      .information__bottom
        .information__filter
          button.information__filter-btn(type="button", data-aside-show="true")
            +icon("icon-decor-filter", 25, 25)
            span Фильтры
            +icon("icon-plus", 15, 15)
        .information__description
          .information__name
            p Показано товаров:
          .information__number
            p
              span.information__number-start 64 из
              span.information__number-end 64
        .information__btn
          button.filter__btn-reset(type="reset")
            span Очистить
            +icon("icon-closes")
